
@{
    ViewBag.Title = "NotVerified";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}



<div style="width:400px;margin:30px auto;text-align:center;box-shadow:2px  2px 2px 2px #555;padding:60px;border-radius:10px;">
    <h2>暂无权限访问此界面</h2>
    <br/>
    <img src="~/Content/images/nopower.jpg" style="width:160px;" />

    <br/><br />
    <div style="width: 216px; margin:20px 0;">
        <!-- layui 2.2.5 新增 -->
        <button class="layui-btn layui-btn-normal" onclick="history.go(-1);">返回上一页</button>
    <br/><br/>
        <button class="layui-btn layui-btn-normal" onclick="if (!parent) location.href = '/User/Login'; else parent.location.href = '/User/Login';">返回登陆页面</button>

    </div>
</div>